<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>quyan.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>4F557905006F011D23E0765208366EEEB841EFC9</string>
				<key>dateExpires</key>
				<string>2021/8/25</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4F557905006F011D23E0765208366EEEB841EFC9</string>
						<key>dateExpires</key>
						<string>2021/8/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>54UDJWY8S9</string>
						<key>name</key>
						<string>Shenzhen Xinguodu Intelligence Co.,Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4F557905006F011D23E0765208366EEEB841EFC9</string>
						<key>dateExpires</key>
						<string>2021/8/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>54UDJWY8S9</string>
						<key>name</key>
						<string>Shenzhen Xinguodu Intelligence Co.,Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4F557905006F011D23E0765208366EEEB841EFC9</string>
						<key>dateExpires</key>
						<string>2021/8/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CocoaAsyncSocket.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>54UDJWY8S9</string>
						<key>name</key>
						<string>Shenzhen Xinguodu Intelligence Co.,Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4F557905006F011D23E0765208366EEEB841EFC9</string>
						<key>dateExpires</key>
						<string>2021/8/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>54UDJWY8S9</string>
						<key>name</key>
						<string>Shenzhen Xinguodu Intelligence Co.,Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4F557905006F011D23E0765208366EEEB841EFC9</string>
						<key>dateExpires</key>
						<string>2021/8/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>54UDJWY8S9</string>
						<key>name</key>
						<string>Shenzhen Xinguodu Intelligence Co.,Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4F557905006F011D23E0765208366EEEB841EFC9</string>
						<key>dateExpires</key>
						<string>2021/8/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>54UDJWY8S9</string>
						<key>name</key>
						<string>Shenzhen Xinguodu Intelligence Co.,Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4F557905006F011D23E0765208366EEEB841EFC9</string>
						<key>dateExpires</key>
						<string>2021/8/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>54UDJWY8S9</string>
						<key>name</key>
						<string>Shenzhen Xinguodu Intelligence Co.,Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4F557905006F011D23E0765208366EEEB841EFC9</string>
						<key>dateExpires</key>
						<string>2021/8/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMAppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>54UDJWY8S9</string>
						<key>name</key>
						<string>Shenzhen Xinguodu Intelligence Co.,Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4F557905006F011D23E0765208366EEEB841EFC9</string>
						<key>dateExpires</key>
						<string>2021/8/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>54UDJWY8S9</string>
						<key>name</key>
						<string>Shenzhen Xinguodu Intelligence Co.,Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4F557905006F011D23E0765208366EEEB841EFC9</string>
						<key>dateExpires</key>
						<string>2021/8/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>54UDJWY8S9</string>
						<key>name</key>
						<string>Shenzhen Xinguodu Intelligence Co.,Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4F557905006F011D23E0765208366EEEB841EFC9</string>
						<key>dateExpires</key>
						<string>2021/8/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>54UDJWY8S9</string>
						<key>name</key>
						<string>Shenzhen Xinguodu Intelligence Co.,Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4F557905006F011D23E0765208366EEEB841EFC9</string>
						<key>dateExpires</key>
						<string>2021/8/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>KTVCocoaHTTPServer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>54UDJWY8S9</string>
						<key>name</key>
						<string>Shenzhen Xinguodu Intelligence Co.,Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4F557905006F011D23E0765208366EEEB841EFC9</string>
						<key>dateExpires</key>
						<string>2021/8/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>KTVHTTPCache.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>54UDJWY8S9</string>
						<key>name</key>
						<string>Shenzhen Xinguodu Intelligence Co.,Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4F557905006F011D23E0765208366EEEB841EFC9</string>
						<key>dateExpires</key>
						<string>2021/8/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Mantle.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>54UDJWY8S9</string>
						<key>name</key>
						<string>Shenzhen Xinguodu Intelligence Co.,Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4F557905006F011D23E0765208366EEEB841EFC9</string>
						<key>dateExpires</key>
						<string>2021/8/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>54UDJWY8S9</string>
						<key>name</key>
						<string>Shenzhen Xinguodu Intelligence Co.,Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4F557905006F011D23E0765208366EEEB841EFC9</string>
						<key>dateExpires</key>
						<string>2021/8/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>54UDJWY8S9</string>
						<key>name</key>
						<string>Shenzhen Xinguodu Intelligence Co.,Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4F557905006F011D23E0765208366EEEB841EFC9</string>
						<key>dateExpires</key>
						<string>2021/8/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>54UDJWY8S9</string>
						<key>name</key>
						<string>Shenzhen Xinguodu Intelligence Co.,Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4F557905006F011D23E0765208366EEEB841EFC9</string>
						<key>dateExpires</key>
						<string>2021/8/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImageWebPCoder.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>54UDJWY8S9</string>
						<key>name</key>
						<string>Shenzhen Xinguodu Intelligence Co.,Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4F557905006F011D23E0765208366EEEB841EFC9</string>
						<key>dateExpires</key>
						<string>2021/8/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>audioplayers.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>54UDJWY8S9</string>
						<key>name</key>
						<string>Shenzhen Xinguodu Intelligence Co.,Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4F557905006F011D23E0765208366EEEB841EFC9</string>
						<key>dateExpires</key>
						<string>2021/8/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>camera.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>54UDJWY8S9</string>
						<key>name</key>
						<string>Shenzhen Xinguodu Intelligence Co.,Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4F557905006F011D23E0765208366EEEB841EFC9</string>
						<key>dateExpires</key>
						<string>2021/8/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>connectivity.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>54UDJWY8S9</string>
						<key>name</key>
						<string>Shenzhen Xinguodu Intelligence Co.,Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4F557905006F011D23E0765208366EEEB841EFC9</string>
						<key>dateExpires</key>
						<string>2021/8/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>device_info.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>54UDJWY8S9</string>
						<key>name</key>
						<string>Shenzhen Xinguodu Intelligence Co.,Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4F557905006F011D23E0765208366EEEB841EFC9</string>
						<key>dateExpires</key>
						<string>2021/8/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_downloader.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>54UDJWY8S9</string>
						<key>name</key>
						<string>Shenzhen Xinguodu Intelligence Co.,Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4F557905006F011D23E0765208366EEEB841EFC9</string>
						<key>dateExpires</key>
						<string>2021/8/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_facebook_auth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>54UDJWY8S9</string>
						<key>name</key>
						<string>Shenzhen Xinguodu Intelligence Co.,Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4F557905006F011D23E0765208366EEEB841EFC9</string>
						<key>dateExpires</key>
						<string>2021/8/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_image_compress.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>54UDJWY8S9</string>
						<key>name</key>
						<string>Shenzhen Xinguodu Intelligence Co.,Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4F557905006F011D23E0765208366EEEB841EFC9</string>
						<key>dateExpires</key>
						<string>2021/8/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_local_notifications.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>54UDJWY8S9</string>
						<key>name</key>
						<string>Shenzhen Xinguodu Intelligence Co.,Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4F557905006F011D23E0765208366EEEB841EFC9</string>
						<key>dateExpires</key>
						<string>2021/8/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_plugin_android_lifecycle.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>54UDJWY8S9</string>
						<key>name</key>
						<string>Shenzhen Xinguodu Intelligence Co.,Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4F557905006F011D23E0765208366EEEB841EFC9</string>
						<key>dateExpires</key>
						<string>2021/8/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_user_agent.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>54UDJWY8S9</string>
						<key>name</key>
						<string>Shenzhen Xinguodu Intelligence Co.,Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4F557905006F011D23E0765208366EEEB841EFC9</string>
						<key>dateExpires</key>
						<string>2021/8/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>54UDJWY8S9</string>
						<key>name</key>
						<string>Shenzhen Xinguodu Intelligence Co.,Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4F557905006F011D23E0765208366EEEB841EFC9</string>
						<key>dateExpires</key>
						<string>2021/8/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>libwebp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>54UDJWY8S9</string>
						<key>name</key>
						<string>Shenzhen Xinguodu Intelligence Co.,Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4F557905006F011D23E0765208366EEEB841EFC9</string>
						<key>dateExpires</key>
						<string>2021/8/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>54UDJWY8S9</string>
						<key>name</key>
						<string>Shenzhen Xinguodu Intelligence Co.,Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4F557905006F011D23E0765208366EEEB841EFC9</string>
						<key>dateExpires</key>
						<string>2021/8/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>package_info.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>54UDJWY8S9</string>
						<key>name</key>
						<string>Shenzhen Xinguodu Intelligence Co.,Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4F557905006F011D23E0765208366EEEB841EFC9</string>
						<key>dateExpires</key>
						<string>2021/8/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>54UDJWY8S9</string>
						<key>name</key>
						<string>Shenzhen Xinguodu Intelligence Co.,Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4F557905006F011D23E0765208366EEEB841EFC9</string>
						<key>dateExpires</key>
						<string>2021/8/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>screen.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>54UDJWY8S9</string>
						<key>name</key>
						<string>Shenzhen Xinguodu Intelligence Co.,Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4F557905006F011D23E0765208366EEEB841EFC9</string>
						<key>dateExpires</key>
						<string>2021/8/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>54UDJWY8S9</string>
						<key>name</key>
						<string>Shenzhen Xinguodu Intelligence Co.,Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4F557905006F011D23E0765208366EEEB841EFC9</string>
						<key>dateExpires</key>
						<string>2021/8/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sign_in_with_apple.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>54UDJWY8S9</string>
						<key>name</key>
						<string>Shenzhen Xinguodu Intelligence Co.,Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4F557905006F011D23E0765208366EEEB841EFC9</string>
						<key>dateExpires</key>
						<string>2021/8/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>uni_links.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>54UDJWY8S9</string>
						<key>name</key>
						<string>Shenzhen Xinguodu Intelligence Co.,Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4F557905006F011D23E0765208366EEEB841EFC9</string>
						<key>dateExpires</key>
						<string>2021/8/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>54UDJWY8S9</string>
						<key>name</key>
						<string>Shenzhen Xinguodu Intelligence Co.,Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4F557905006F011D23E0765208366EEEB841EFC9</string>
						<key>dateExpires</key>
						<string>2021/8/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>video_player.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>54UDJWY8S9</string>
						<key>name</key>
						<string>Shenzhen Xinguodu Intelligence Co.,Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4F557905006F011D23E0765208366EEEB841EFC9</string>
						<key>dateExpires</key>
						<string>2021/8/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>video_thumbnail.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>54UDJWY8S9</string>
						<key>name</key>
						<string>Shenzhen Xinguodu Intelligence Co.,Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4F557905006F011D23E0765208366EEEB841EFC9</string>
						<key>dateExpires</key>
						<string>2021/8/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>webview_flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>54UDJWY8S9</string>
						<key>name</key>
						<string>Shenzhen Xinguodu Intelligence Co.,Ltd.</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>54UDJWY8S9.com.xgd.quyan</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:quyan.tech</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>54UDJWY8S9</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>64cdb775-ad76-49b7-8b4e-82062b43aecf</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.xgd.quyan</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>54UDJWY8S9</string>
				<key>name</key>
				<string>Shenzhen Xinguodu Intelligence Co.,Ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
